.mainContainer {
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links_button {
  background-color: #4d25e0;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 0.65rem;
  border: none;
  padding: 0.5rem 1.45rem;
  margin: 1rem;
  letter-spacing: 0.01rem;
  transition: all 0.25s ease-in-out;
}

.links_button:hover {
  cursor: pointer;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  color: #ffffff;
  background-color: #5933e4;
  transition: all 0.25s ease;
}
